<div class="movie">
    <p>
    <a href="https://www.youtube.com/watch?v={{ video.videoId }}" target="_blank">{{ video.videoTitle }}</a>
    </p>
    <ul>
        <li class="video-data-entry">
            Publising time:
            {{ video.publishTimeString }}
        </li>
        <li class="video-data-entry">
            Video id:
            {{ video.videoId }}
        </li>
    </ul>
</div>
