.container {
    margin: 2rem;
}
body {
    display: flex;
    justify-content: center;
}
.video-data-entry {
    text-indent: 2rem;;
}
a {
    text-decoration: underline;
}
.form-inline {
    display: inline-block;
}
.form-inline input[type=submit] {
    text-decoration: underline;
}
.form-inline input[type=submit]:hover {
    cursor: pointer;
}