{% extends 'base.html.twig' %}

{% block title %}
    List of videos
{% endblock %}

{% block h1_header %}
    Result list
{% endblock %}

{% block body %}

    <p><a href="{{ path('app_default') }}">Go to a new search</a></p>

    <p>Videos from {{ videos_list.channelTitle }}</p>
    <p>
        The channel has
        {{ videos_list.channelVideosCount }}
        videos.
    </p>
    <hr />
    <ul>
        {% for video in videos_list.videosList %}
            <li>
                {% include "movie_template.html.twig" %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
