{% extends 'base.html.twig' %}

{% block title %}
    List of videos
{% endblock %}

{% block h1_header %}
    Result list
{% endblock %}

{% block body %}

    <p>Videos from {{ videos_list.channelTitle }}</p>
    <p>
        The channel has
        {{ videos_list.channelVideosCount }}
        videos.
    </p>
    <hr />
    <ul>
        {% for video_name in videos_list.videoTitles %}
            <li>
                {{ video_name }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
